.container{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: rgb(230, 119, 79);
    color: white;
    font-size: 1.2rem;
}
.logo{
    font-weight: bold;
    font-size: 1.6rem;
    color: black;
}
.container .links a{
    text-decoration: none;
    margin: 1rem;
    color: white;
    font-style: italic;
}